@import '_common';
.wrap {
    margin: 0 auto;
    width: 990px;
}

.blue_link {
    color: #0083ce;
}

.head {
    height: 98px;
    overflow: hidden;
    a {
        float: left;
        img {
            border: none;
        }
    }
}

.login_wrap {
    position: relative;
    background: #fff url(../../images/l_bg_02.png) no-repeat left top;
    width: 988px;
    min-height: 335px;
    color: #5e5e5e;
    border: #e6e6e6 1px solid;
    border-top: #0083ce 2px solid;
    box-shadow: -1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF;
    padding-top: 8px;
    .bg_link {
        outline-style: none;
        position: absolute;
        left: 0;
        top: 0;
        text-indent: -9999px;
        display: block;
        width: 560px;
        height: 363px;
    }
    .tab_box {
        height: 25px;
        margin-left: 560px;
        padding: 10px 0;
        padding-top: 2px;
        border-bottom: 1px solid #e2e2e2;
        .item {
            float: left;
            position: relative;
            width: 50%;
            text-align: center;
            font-size: 16px;
            line-height: 25px;
            &:before {
                display: block;
                position: absolute;
                content: "";
                width: 1px;
                height: 100%;
                top: 0;
                right: 0;
                background-color: #e2e2e2;
            }
            a {
                display: block;
                position: relative;
                margin: 0 30px;
                color: #333;
            }
        }
        .cur {
            a {
                color: #2C9EE1;
                &:before {
                    display: block;
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 2px;
                    left: 0;
                    bottom: -10px;
                    background-color: #2C9EE0;
                }
            }
        }
    }
    #commonLogin {
        display: none;
    }
    .tab_con {
        margin-left: 560px;
        padding: 0 30px;
        .lg_titile {
            font-size: 16px;
            font: 20px "microsoft yahei";
            margin: 13px 0;
            span {
                float: right;
                font-size: 12px;
                margin-top: 7px;
                font-family: \5b8b\4f53;
            }
        }
        form {
            .reg_row {
                min-height: 70px;
                _height: 70px;
                width: 340px;
                position: relative;
                .fr {
                    float: right;
                    font-size: 12px;
                    a {
                        color: #333;
                        &:hover {
                            text-decoration: underline;
                            color: #0083ce;
                        }
                    }
                }
                .form-control {
                    display: block;
                    width: 286px;
                    height: 26px;
                    padding: 6px 12px 6px 40px;
                    font-size: 14px;
                    line-height: 1.428571429;
                    vertical-align: middle;
                    background-color: transparent;
                    border: 1px solid #e6e6e6;
                    -webkit-appearance: none;
                    background: url(../../images/regest.png) no-repeat 0 0;
                }
                .u_name {
                    background-position: 8px -114px;
                }
                .u_ps {
                    background-position: 8px -145px;
                }
                .i_empty {
                    font-size: 12px;
                    height: 16px;
                    width: auto;
                    float: right;
                    padding-right: 25px;
                    margin-top: -28px;
                    background: url(../../images/regest.png) no-repeat right -57px;
                }
                .error {
                    font-size: 12px;
                    color: #e72418;
                }
            }
            .verify_box {
                height: 60px;
                min-height: 60px;
                .u_verify {
                    width: 150px;
                    margin-right: 10px;
                    padding-left: 10px;
                    float: left;
                    background: none;
                }
                .verifyimg {
                    margin-left: 10px;
                    float: left;
                }
                .verifylink {
                    float: left;
                    margin-left: 10px;
                    line-height: 40px;
                    color: #0083ce;
                    font-size: 12px;
                }
            }
            .checkbox {
                display: block;
                min-height: 20px;
                margin-top: 0px;
                margin-bottom: 6px;
                padding-left: 20px;
                vertical-align: middle;
                span {
                    font-size: 12px;
                }
            }
        }
        .form_group {
            position: relative;
            padding-bottom: 35px;
            .fl {
                float: left;
            }
            .lbs {
                display: block;
                position: relative;
                .txt {
                    display: block;
                    width: 300px;
                    padding: 10px;
                    border: 1px solid #e6e6e6;
                    font-size: 14px;
                    line-height: 20px;
                }
                .phone {
                    width: 270px;
                    padding-left: 42px;
                    background: url(../../images/logo_phone.png) 18px center no-repeat;
                }
                .i_empty {
                    display: none;
                    font-size: 12px;
                    height: 16px;
                    width: auto;
                    float: right;
                    margin-right: 37px;
                    padding-right: 25px;
                    margin-top: -28px;
                    background: url(../../images/regest.png) no-repeat right -57px;
                }
                .error {
                    display: block;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    padding-left: 25px;
                    font-size: 12px;
                    line-height: 35px;
                    color: #F12424;
                    background: url(../../images/logo_error.png) 0 center no-repeat;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 340px;
                }
                .check_btn {
                    display: block;
                    cursor: pointer;
                    width: 120px;
                    height: 40px;
                    padding: 0;
                    border: 1px solid #C6E1F0;
                    font-size: 14px;
                    line-height: 40px;
                    text-align: center;
                    color: #5CBAF0;
                    background-color: #F1FAFF;
                }
            }
            .mr10 {
                margin-right: 10px;
                .txt {
                    display: block;
                    width: 300px;
                    padding: 10px;
                    border: 1px solid #e6e6e6;
                    font-size: 14px;
                    line-height: 20px;
                }
                .check_num {
                    width: 140px;
                    padding-left: 42px;
                    background: url(../../images/logo_key.png) 18px center no-repeat;
                }
            }
        }
        .moreWebDiv {
            cursor: pointer;
            display: inline-block;
            float: right;
            margin-right: 27px;
            margin-top: -52px;
            position: relative;
            z-index: 100;
            font-size: 12px;
            .moreWeb {
                cursor: pointer;
                float: right;
                display: block;
                margin-right: 11px;
                margin-top: 10px;
                .moreWebBtn {
                    cursor: pointer;
                    width: 15px;
                    height: 15px;
                    margin-left: 5px;
                    float: right;
                    border: none;
                    background: url(../../images/upanddown.png) no-repeat -7px -7px;
                }
            }
            .moreTab {
                display: none;
                padding-top: 50px;
                padding-right: 112px;
                a {
                    background: url(../../images/img_zhifu.png) no-repeat -241px 0;
                    display: block;
                    float: left;
                    height: 39px;
                    margin-right: 18px;
                    width: 39px;
                    border: none;
                }
            }
            .pb35 {
                padding-bottom: 35px;
            }
        }
        .hz_login {
            font-size: 12px;
            padding-bottom: 15px;
            clear: both;
            overflow: hidden;
            zoom: 1;
            p {
                margin-top: 10px;
                line-height: 24px;
                color: #5e5e5e;
            }
            a {
                line-height: 24px;
                color: #a5a5a5;
                text-indent: -9999px;
                display: block;
                float: left;
                height: 39px;
                margin-right: 18px;
                width: 39px;
                border: none;
                background: url(../../images/img_zhifu.png) no-repeat 0 0;
            }
            .a_wx {
                background-position: -294px 0;
                &:hover {
                    background-position: -294px -52px;
                }
            }
            .first {
                padding-left: 0;
            }
            .a_zfb {
                background-position: -48px 0;
                &:hover {
                    background-position: -48px -52px;
                }
            }
            .a_qq {
                background-position: -95px 0;
                &:hover {
                    background-position: -95px -52px;
                }
            }
        }
        .btn {
            width: 326px;
            display: inline-block;
            margin-bottom: 0;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            white-space: nowrap;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            background-color: #0099F1;
            width: 340px;
            border-bottom: #0083ce 2px solid;
            color: #fff;
            font: 18px "microsoft yahei";
        }
    }
}

.footer {
    width: 980px;
    margin: 50px auto 20px auto;
    text-align: center;
    p {
        margin-top: 10px;
        font-size: 12px;
        color: #666;
        a {
            color: #666;
            margin: 0 8px;
            &:hover {
                text-decoration: underline;
                color: #0083ce;
            }
        }
    }
}